/* Globe.module.css */
.globeBackground {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.globeBackground svg {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotation 10s linear 0s infinite;
}

@keyframes rotation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
